<div class="posts-container post-and-comments">
  <div class="full-post">
    <h4>Post #<%= @post.id %></h4>
    <h3>Title #<%= @post.title %> by <%= @user.name %></h3>
    <p class='post-counters'>Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>
    <p class='post-text'><%= @post.text %></p>
    <%= form_with model: Like.new, url: user_post_likes_path(@user, @post) do |form| %>
      <% form.submit :Like %>
    <% end %>
    <% if can? :destroy, @post %>
      <%= button_to "Delete Post", user_post_path(@user, @post), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
  <%= link_to new_user_post_comment_path(@user, @post) do %>
  <button>New Comment</button>
  <% end %>
  <% if @post.comments.length.positive? %>
    <div class="comments">
        <% @post.comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
          <% if can? :destroy, comment %>
            <%= button_to "Delete Comment", user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>